# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PyWorkDirectory\mydemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
